
<%= simple_form_for @quest do |f| %>
<%= f.label :Titulo %>
  <%= f.text_field :title, class: "form-control" %><br>
  <%= f.label :Descrição %>
  <%= f.text_area :description, class: "form-control" %>
  <h5><br>Adicionar perguntas</h5>
  <div id="question_grids">
    <%= f.simple_fields_for :question_grids do |question_grid| %>
      <%= render 'question_grid_fields', f: question_grid %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Adicionar pergunta', f, :question_grids, class: "btn btn-primary"%>
    </div>
  </div>
  <br>
  <%= f.submit "Criar quest!", class: "btn btn-success"%>
<% end %>