<p id="notice"><%= notice %></p>

<h1>Quests</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Summary</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <% if quest.creator == current_company.id %>
        <tr>
          <td><%= quest.id %></td>
          <td><%= quest.description %></td>
          <td><%= quest.summary %></td>
          <td><%= quest.creator %></td>
          <td><%= link_to 'Show', quest %></td>
          <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
          <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quest', new_quest_path %>
