<p id="notice"><%= notice %></p>

<div class="d-flex flex-nowrap">
  <div class="">
  <h2 class="mr-4">Quests criadas</h2><br><br>
</div>
<div class="">
<%= link_to '+ Nova Quest', new_quest_path, class: "btn btn-outline-success"%>
</div>
</div>
    <div class="row">
    <% @quests.each do |quest| %>
      <%# if quest.creator == current_company.id %>
      <div class="d-flex flex-row p-2">
      <div class="shadow card " >
        <div class="card-body " style="max-width: 350px;">
          <h4 align='center' class="card-title"><%=quest.title%></h4>
          <div class="card-body" style="position: relative; height: 210px;margin-bottom: .5rem; overflow:auto ">
            <p align='center'> <%= quest.description%></p>
          </div>
          <div class="text-center">
          <%= link_to 'Mostrar', quest, class: "mr-2 btn btn-outline-primary" %>
          <%= link_to 'Editar', edit_quest_path(quest), class: "mr-2 btn btn-outline-primary" %>
          <%= link_to 'Apagar', quest, method: :delete, data: { confirm: 'Tem certeza? Essa ação não pode ser desfeita' }, class: "mr-2 btn btn-outline-danger" %>
        </div>
        </div>

      </div>
      </div>
     
    <% end %>
  </div>
<br>


