<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @quest.title %>
</p>
<p>
  <b>Description:</b>
  <%= @quest.description %>
</p>
<% unless @quest.question_grids.empty? %>
  <p>
    <b>question_grids:</b>
  </p>
  <ul>
    <% @quest.question_grids.each do |question_grid| %>
        <%= question_grid.enum %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Edit', edit_quest_path(@quest) %>
\|
<%= link_to 'Back', quests_path %>
