<div class = "d-flex flex-nowrap">
<p id="notice">
<div><%= link_to 'Voltar', :back, class: "btn btn-outline-secondary" %></div>
<div><p class="text-white notice"><%= notice %></p></div>
</p>
</div>
<div class="d-flex justify-content-center p-2">
<div class=" bg-light p-5 shadow", style="width:700px;">
  <% if @quest.creator == current_company.id %>
  <%= link_to 'Editar', edit_quest_path(@quest), class: "btn btn-primary float-right" %>
  <%= link_to 'Apagar', @quest, method: :delete, data: { confirm: 'Tem certeza? Essa ação não pode ser desfeita' }, class: "mr-2 btn btn-danger float-right",id:"btn-delete-quest" %>
  <%end%>
<p>
  <b>Título:</b>
  <%= @quest.title %>
</p>
<p>
  <b>Descrição:</b>
  <%= @quest.description %>
</p>
<% unless @quest.question_grids.empty? %>
  <p>
    <b>Perguntas:</b>
  </p>
  <div class="card">
  <ul class="list-group list-group-flush">
    
    <% @quest.question_grids.each do |question_grid| %>
    <li class="list-group-item ">
        <%= question_grid.enum %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br>
<br>
</div>
</div>



