
<div class="jumbotron fluid-jumbotron">
  <h1 class="display-3"><%=@title%></h1>
  <p class="lead"><%=@jumbotron%></p>
  <hr class="my-2">
  <p><%= @tagline %></p>
  <p class="lead">
  <p class="lead">

    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark", role: "button" %>
  </p>  
</div>   

<div class="jumbotron fluid-jumbotron">
  <h1 class="display-3"><%=@titleforcompanies%></h1>
  <p class="lead"><%=@jumbotronforcompanies%></p>
  <hr class="my-2">
  <p><%= @tagline %></p>
  <p class="lead">
  <p class="lead">

    <%= link_to "Sign up", new_company_registration_path, class: "btn btn-dark", role: "button" %>
  </p>  
</div>   