-# frozen_string_literal: true
= simple_form_for(@answer) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :user_id
    = f.input :quest_id
    = f.input :question_id
    = f.input :value

  .form-actions
    = f.button :submit
