%h1 Listing answers

%table
  %thead
    %tr
      %th User
      %th Quest
      %th Question
      %th Value
      %th
      %th
      %th

  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.user_id
        %td= answer.quest_id
        %td= answer.question_id
        %td= answer.value
        %td= link_to 'Show', answer
        %td= link_to 'Edit', edit_answer_path(answer)
        %td= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Answer', new_answer_path
