<div align="center">
<div class="col-sm-5 col-sm-offset-4 z">

<h2>Editar cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="field">
    <%= f.label :nome_da_empresa %><br />
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :CNPJ %><br />
    <%= f.text_field :cnpj, class:"form-control" %>
   </div>

  <div class="field">
    <%= f.label :descrição_da_empresa%><br />
    <%= f.text_area :about_us, class:"form-control" %>
   </div>
   
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <br>
    <i>(Confirmar senha para alterar cadastro)</i><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :nova_senha %> <br>
    <i>(Deixe em branco caso não queira mudar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em>No mínimo <%=@minimum_password_length%> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Atualizar", class: "btn btn-primary" %>
  </div>
<% end %>
<br>

<%= button_to "Cancelar meu cadastro", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>

</div>
</div>
