<div>
<div  class="shadow" style="height: 100%;
    width: 330px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f4f4f4;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;">
<div class="media" style="padding-top: 30px;">
  <img class="d-flex align-self-start mr-3" src="/img.jpg" alt="Perfil">
  <div class="media-body">
    <h4 class="mt-0"><%= current_company.name %></h4>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-center" style="padding-top: 15px;">
<div class="mb-3">
<ul class=" flex-wrap shadow-sm list-group" style="text-align: center; width: 293px;">
  <li class="list-group-item active">Quem somos nós?</li>
  <li class="list-group-item"><%= current_company.about_us %></li>
</ul>
</div >
<div class="mb-3">
<ul class=" shadow-sm list-group" style="text-align: center; width: 293px;">
  <li class="list-group-item active">CPNJ cadastrado</li>
  <li class="list-group-item"><%= current_company.cnpj %></li>
</ul>
</div>
<div class="mb-3">
<ul class=" shadow-sm list-group" style="text-align: center; width: 293px;">
  <li class="list-group-item active">Seu ID no GetXP</li>
  <li class="list-group-item"><%= current_company.id %></li>
</ul>
</div>
</div>
<button type="button" class="btn btn-primary">Editar perfil</button>
<%= link_to('Logout', destroy_company_session_path, class: "btn btn-secondary", method: :delete) %><br>


</div>

<div style=" padding-left: 405px;" 
>
<%= render 'quests/index', quest: @quest %>

</div>
</div>
