<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @answer_grid.order %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @answer_grid.quest_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer_grid.question_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer_grid.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer_grid.user_id %>
</p>

<%= link_to 'Edit', edit_answer_grid_path(@answer_grid) %> |
<%= link_to 'Back', answer_grids_path %>
