<p id="notice">
  <%= notice %>
<%= link_to 'Voltar', :back, class: "btn btn-outline-secondary" %>
</p>
<div class="d-flex justify-content-center p-2">
<div class=" bg-light p-5 shadow", style="width:700px;">
<p>
  <b>Título:</b>
  <%= @quest.title %>
</p>
<p>
  <b>Descrição:</b>
  <%= @quest.description %>
</p>
<% unless @quest.question_grids.empty? %>
  <p>
    <b>Perguntas:</b>
  </p>
  <div class="card">
  <ul class="list-group list-group-flush">
    
    <% @quest.question_grids.each do |question_grid| %>
    <li class="list-group-item ">
        <%= question_grid.enum %></li>


    <% end %>
  </ul>
</div>
<% end %>
<br>
<br>
</div>
</div>



