<% # frozen_string_literal: true %>
<h1 style = "text-align:center"><%=@quest.title%></h1>
<% @quest.question_grids.each do |question_grid| %>
<%= simple_form_for(@answer_grid) do |f| %>
<li class="list-group-item">
  <%= question_grid.enum %></li>
  <% question_grid.answer_grids.new do |answer| %>
  <%=question_grid.id%>
  <%=answer.value %>
  <%=answer.user_id %>
  <%=answer.question_grid_id %>
  <%= f.input :value %>
  <% end %>
  <%= f.submit %>
  <%end%>
  <%end%>

