<!DOCTYPE html>
<html>
  <head>
    <title>Get XP</title>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style="padding-top: 70px;">

    <nav class="navbar fixed-top navbar navbar-dark bg-primary flex-md-nowrap  shadow-sm">

        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><%= image_tag("getxp_full_logo_white.png", :size => '110x40')  %></a>
        
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">

            <%= link_to "Sign in", new_user_session_path, class: "nav-link text-white", id: 'btn-user-signin' %>

          </li>
        
        </ul>
    </nav> 
    <!--
    <% if user_signed_in? %>
      Logado como <%= current_user.email %>! Não é você? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
    <% else %> 
    <%= link_to "Sign up", new_user_registration_path %> / <%= link_to "Sign in", new_user_session_path %> <% end %>
    -->
    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="footer" style="overflow-y:auto;float:left;">
      <div class="container">
        <span class="text-muted">by SoftEng Team</span>
      </div>
    </footer>

  </body>
</html>
