<!DOCTYPE html>
<html>
  <head>
    <title>Primeiroemprego</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">GetXp</a>
        
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">

            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>

          </li>
        
        </ul>
    </nav> 
    <!--
    <% if user_signed_in? %>
      Logado como <%= current_user.email %>! Não é você? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
    <% else %> 
    <%= link_to "Sign up", new_user_registration_path %> / <%= link_to "Sign in", new_user_session_path %> <% end %>
    -->
    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">by SoftEng Team</span>
      </div>
    </footer>

  </body>
</html>
